<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu" style="padding-top: 80px;">
            <li>
                <a href="/"><i class="fa fa-home"></i> Main</a>
            </li>
            <li>
                <a>
                    <i class="fa fa-newspaper-o"></i> Уроки<span class="fa fa-chevron-down"></span>
                    </span>
                </a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="#">Уроки</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                    <li>
                        <a href="#">Категории</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                </ul>
            </li>
            <li>
                <a>
                    <i class="fa fa-users"></i> Пользователи<span class="fa fa-chevron-down"></span></span>
                </a>
                <ul class="nav child_menu" style="display: none">
                    <li>
                        <a href="#">Пользователи</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                    <li>
                        <a href="#">Волонтёры</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                    <li><a href="#">Роли</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o"></i> Веб Страница
                    <a href="#" class="pull-right create fa fa-plus-circle"></a>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-envelope"></i> Рассылка<span class="fa fa-chevron-down"></span></span>
                </a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Шаблоны</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                    <li><a href="#">Сценарии</a>
                        <a href="#" class="pull-right create fa fa-plus-circle"></a>
                    </li>
                    <li>
                        <a href="#">Отчеты</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- /sidebar menu -->